<a href="https://colab.research.google.com/github/talhatriq155/python_basic/blob/master/pandas_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
ml_csv=pd.read_csv('ml.csv')
print(ml_csv)

   Series_reference   Period  Data_value STATUS   UNITS
0       BDCQ.SEA1AA  2011.06       80078      F  Number
1       BDCQ.SEA1AA  2011.09       78324      F  Number
2       BDCQ.SEA1AA  2011.12       85850      F  Number
3       BDCQ.SEA1AA  2012.03       90743      F  Number
4       BDCQ.SEA1AA  2012.06       81780      F  Number
5       BDCQ.SEA1AA  2012.09       79261      F  Number
6       BDCQ.SEA1AA  2012.12       87793      F  Number
7       BDCQ.SEA1AA  2013.03       91571      F  Number
8       BDCQ.SEA1AA  2013.06       81687      F  Number
9       BDCQ.SEA1AA  2013.09       81471      F  Number
10      BDCQ.SEA1AA  2013.12       93950      F  Number
11      BDCQ.SEA1AA  2014.03       97208      F  Number
12      BDCQ.SEA1AA  2014.06       85879      F  Number
13      BDCQ.SEA1AA  2014.09       84447      F  Number
14      BDCQ.SEA1AA  2014.12       95075      F  Number
15      BDCQ.SEA1AA  2015.03       98202      F  Number
16      BDCQ.SEA1AA  2015.06       87987      F  Number
17      BDCQ.SEA1AA  2015.09       84529      F  Number
18      BDCQ.SEA1AA  2015.12       96848      F  Number
19      BDCQ.SEA1AA  2016.03       99291      F  Number
20      BDCQ.SEA1AA  2016.06       88716      F  Number
21      BDCQ.SEA1AA  2016.09       85933      F  Number
22      BDCQ.SEA1AA  2016.12       96540      F  Number
23      BDCQ.SEA1AA  2017.03       98994      F  Number
24      BDCQ.SEA1AA  2017.06       90510      F  Number
25      BDCQ.SEA1AA  2017.09       87089      F  Number
26      BDCQ.SEA1AA  2017.12       98933      F  Number
27      BDCQ.SEA1AA  2018.03      101168      F  Number
28      BDCQ.SEA1AA  2018.06       90766      F  Number

In [30]:
from ast import Assign

# to see data type
# ml_csv.dtypes
# to see coloums names
# ml_csv.columns
# to see index
# ml_csv.index
# to see data info
# ml_csv.info()
# to see data statstics
# ml_csv.describe()
# take the value of mean
# ml_csv.mean()
# to see whole coloum
# ml_csv['Data_value']
# too sum of pd.unique coloum
# ml_csv['Data_value'].sum()
# to see header
# ml_csv.head(3)
# to see tail
# ml_csv.tail(5)
# you can Assign index
# cars=pd.Series(['cultus','corolla','bmw','supra','alto'],index=[4,3,2,1,0])
# print(cars)
# index=loc ,location=iloc
# ml_csv.loc[2]
# ml_csv.iloc[4]
# assign by own will
# ml_csv.loc[:3]
# ml_csv.iloc[:5]
#ways to selet specific coloum first one is not work with space
# ml_csv.Period
# ml_csv['Data_value']
# way to select coloum with specific feature
ml_csv[ml_csv['Period'] >2016.03]

   Series_reference   Period  Data_value STATUS   UNITS
19      BDCQ.SEA1AA  2016.03       99291      F  Number