<a href="https://colab.research.google.com/github/talhatriq155/python_basic/blob/master/pandas_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
ml_csv=pd.read_csv('ml.csv')
print(ml_csv)

         brand  colour    sims  memory(kb)  prices(dollar)
0      Samsung   Black    Dual      128000             250
1        Apple   White  Single      256000             800
2       Google    Blue    Dual       64000             300
3       Xiaomi     Red    Dual       32000             150
4      OnePlus   Green  Single      128000             400
5     Motorola    Gray    Dual       64000             200
6        Nokia  Yellow  Single       16000             100
7         Sony  Purple    Dual      256000             550
8           LG  Silver  Single       32000             180
9       Huawei    Gold    Dual      128000             350
10        Oppo    Pink    Dual       64000             220
11        Vivo   Brown  Single      256000             480
12      Realme  Orange    Dual       32000             170
13        Asus    Teal  Single      128000             380
14  BlackBerry    Navy    Dual       16000              90

In [40]:
# comparing two coloum
# pd.crosstab(ml_csv['memory(kb)'],ml_csv['sims'])
# compare more then two coloum
# ml_csv.groupby(['brand']).mean()
# to see plot of data
# ml_csv['prices(dollar)'].plot()
# to see histogram
# ml_csv['prices(dollar)'].hist()
# ml_csv['prices(dollar)'].replace('[250]','[300]')

0     250
1     800
2     300
3     150
4     400
5     200
6     100
7     550
8     180
9     350
10    220
11    480
12    170
13    380
14     90
Name: prices(dollar), dtype: int64